*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btn-bg-color: #3b82f6;
    --btn-text-color: #1e1e1e;
    --btn-border-color: #0c0c0c;
    --btn-hover-color: #fbfbfb;
    --btn-selected-bg: rgb(106, 106, 106);
    --btn-hover-bg: rgba(106, 106, 106, 0.61);
    --btn-selected-box-shadow: 0 0 0 3px rgba(9, 9, 9, 0.63);

    --bg-color: rgba(232, 232, 232, 0.89);
    --text-color: #1e1e1e;
    --secondary-color: rgba(200, 200, 200, 0.50);
    --secondary-hoover: rgba(200, 200, 200, 0.85);


    --transition-speed: 0.2s;
}

body.dark-mode {
    --btn-bg-color: #3b82f6;
    --btn-text-color: #1e1e1e;
    --btn-border-color: #3b82f6;
    --btn-selected-color: #fbfbfb;
    --btn-selected-bg: rgba(83, 91, 242, 0.94);
    --btn-hover-bg: rgba(83, 91, 242, 0.4);
    --btn-selected-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.83);

    --bg-color: #2e2e2e;
    --text-color: #fbfbfb;
    --secondary-color: rgb(30, 30, 30);
    --secondary-hoover: rgb(16, 16, 16);

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    transition: background-color var(--transition-speed),
    color var(--transition-speed);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    height: 100%;
    padding: 2em;
}
